In [1]:
import pandas as pd
import requests
import pprint
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\zthan\.wdm\drivers\chromedriver\win32\101.0.4951.41]

In [3]:
url = 'https://redplanetscience.com'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text

news_p = soup.find('div', class_ = 'article_teaser_body').text

soup.div.text.strip()

print(f'The latest news is: {news_title}. {news_p}')

The latest news is: HiRISE Views NASA's InSight and Curiosity on Mars. New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.

In [5]:
url_jpl = 'https://spaceimages-mars.com'
browser.visit(url_jpl)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

browser.links.find_by_partial_text('FULL').click()

image_src = soup.find('img', class_ = 'headerimage fade-in')['src']

featured_image_url = url_jpl + "/" + image_src

featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [7]:
url_facts = 'https://galaxyfacts-mars.com'

In [8]:
tables = pd.read_html(url_facts)

type(tables)

tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
df = tables[0]
df.iloc[0,0] = "Variable"

df

                    0                1                2
0            Variable             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Variable</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
url_hemi = 'https://marshemispheres.com'
browser.visit(url_hemi)

In [12]:
hemisphere_image_urls = []

for x in range (4):
    url_hemi = 'https://marshemispheres.com/'
    browser.visit(url_hemi)
    image = browser.find_by_tag('h3')
    time.sleep(5)
    image[x].click()
    html1 = browser.html
    soup = BeautifulSoup(html1, 'html.parser')
    url1 = soup.find('img', class_='wide-image')['src']
    title = soup.find('h2', class_ = 'title').text

    dict = {'title': title, 'image url': url_hemi + url1}
    hemisphere_image_urls.append(dict)

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [14]:
browser.quit()

In [15]:
mars_dict = {
    'latest_title': news_title,
    'latest_text' : news_p,
    'featured_url': featured_image_url,
    'hemisphere_url': hemisphere_image_urls
}

mars_dict

{'latest_title': "HiRISE Views NASA's InSight and Curiosity on Mars",
 'latest_text': 'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.',
 'featured_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'hemisphere_url': [{'title': 'Cerberus Hemisphere Enhanced',
   'image url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'image url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'image url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'image url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}